html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: url("../images/rock-crystal-397955_mod.jpg");
    background-size: 1800px 1400px;
    background-color: darkgrey;
}

h1 {
    font-size: 45px;
    color: white;

}

#heading {
    background-color: rgb(45, 84, 124);
    margin: 20px 150px 20px 20px;
    height: 100px;
    width: 450px;
    padding: 10px 20px 10px 20px;
    box-shadow: 7px 7px 15px;
}

#gameRules {
    background-color: #909cbe;
    margin: 20px 150px 20px 20px;
    height: 280px;
    width: 600px;
    padding: 10px 35px 15px 45px;
    box-shadow: 7px 7px 15px;
}

h2 {
    font-size: 45px;
}

ul {
    list-style: square;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#scoreMatch {
    background-color: #004d99;
    color: white;
    margin: 0px 15px 20px 20px;
    height: 75px;
    width: 260px;
    padding: 10px 10px 20px 10px;
    font-size: 25px;
    float: left;
    box-shadow: 7px 7px 15px 0 black;

}

#userScore {
    background-color: #e67300;
    color: white;
    margin: 0px 15px 20px 20px;
    height: 75px;
    width: 260px;
    padding: 10px 10px 20px 10px;
    font-size: 25px;
    float: left;
    box-shadow: 7px 7px 15px 0 black;

}

#winsLoses {
    background-color: green;
    color: white;
    margin: 0px 15px 20px 20px;
    height: 75px;
    width: 260px;
    padding: 10px 10px 20px 10px;
    font-size: 25px;
    clear: both;
    box-shadow: 7px 7px 15px 0 black;

}

.crystalBox {
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 15px;
    border-radius: 15px;
    float: left;
    box-shadow: 7px 7px 15px 0 black;

}

.gems {
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 15px;
}